{{#each oss.projects}}
  <div class="projects">
    <div class="info">
      <span class="title">{{this.title}}</span>
      <span class="link">
        <svg
          t="1629829032887"
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="5240"
          width="16"
          height="16"
        ><path
            d="M527.36 710.656c-9.216-1.024-17.408-2.048-26.624-4.096-9.216-2.048-18.432-4.096-27.648-7.168-5.12-2.048-11.264-1.024-15.36 3.072l-6.144 6.144c-36.864 36.864-96.256 40.96-136.192 7.168-43.008-37.888-45.056-103.424-5.12-143.36l97.28-97.28c12.288-12.288 27.648-21.504 44.032-25.6 20.48-5.12 41.984-4.096 61.44 4.096 12.288 5.12 23.552 12.288 32.768 21.504 5.12 5.12 9.216 11.264 12.288 17.408 5.12 8.192 16.384 10.24 23.552 3.072l35.84-35.84c5.12-5.12 6.144-13.312 1.024-19.456-5.12-7.168-11.264-14.336-17.408-20.48-9.216-9.216-19.456-17.408-30.72-24.576-18.432-11.264-38.912-19.456-59.392-23.552-39.936-8.192-82.944-2.048-119.808 18.432-14.336 8.192-27.648 17.408-39.936 29.696l-94.208 94.208c-67.584 67.584-72.704 177.152-8.192 246.784 68.608 73.728 183.296 75.776 253.952 5.12l31.744-31.744c10.24-7.168 5.12-22.528-7.168-23.552z m235.52-459.776c-69.632-64.512-180.224-59.392-246.784 8.192L486.4 286.72c-9.216 9.216-3.072 23.552 9.216 24.576 18.432 1.024 35.84 5.12 54.272 11.264 5.12 2.048 11.264 0 15.36-3.072l6.144-6.144c36.864-36.864 96.256-40.96 136.192-7.168 43.008 37.888 45.056 103.424 5.12 143.36l-97.28 97.28c-12.288 12.288-27.648 21.504-44.032 25.6-20.48 5.12-41.984 4.096-61.44-4.096-12.288-5.12-23.552-12.288-32.768-21.504-5.12-5.12-9.216-10.24-12.288-16.384-5.12-8.192-16.384-10.24-23.552-3.072L405.504 563.2c-5.12 5.12-6.144 13.312-1.024 19.456 5.12 7.168 11.264 14.336 17.408 20.48 9.216 9.216 19.456 17.408 30.72 24.576 18.432 10.24 38.912 17.408 59.392 21.504 39.936 8.192 82.944 2.048 119.808-18.432 14.336-8.192 27.648-17.408 39.936-29.696l97.28-97.28c68.608-69.632 67.584-185.344-6.144-252.928z"
            p-id="5241"
          ></path></svg>
        <a href="https://{{url}}">{{url}}</a>
      </span>
    </div>

    <ul class="desc">
      {{#each desc}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}

<style>
  .projects {
    padding: 0 24px;
    margin-bottom: 6px;
  }

  .projects .info {
    display: flex;
    align-items: flex-end;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .projects .info .title {
    font-weight: 700;
    font-size: 18px;
    margin-right: 12px;
  }

  .projects .info .link {
    display: inline-flex;
    align-items: center;
    line-height: 14px;
  }

  .projects .desc {
    list-style-type: disc;
    padding: 0 24px;
    font-size: 14px;
  }
</style>
