<div class="header">
  <h1 class="name">{{name}}</h1>
  <p class="title">{{title}}</p>
  <p class="summary">{{summary}}</p>
</div>

<style>
  .header {
    padding: 16px 24px;
    color: var(--dark-800);
  }

  .header .name {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .header .title {
    color: var(--gray-400);
    margin-bottom: 4px;
  }

  .header .summary {
    font-size: 14px;
  }
</style>
