{{> summary}}

{{> contact}}

<h2 class="simple-section-title">{{work.title}}</h2>

{{> work}}

<h2 class="simple-section-title">{{oss.title}}</h2>

{{> project}}

<h2 class="simple-section-title">{{education.title}}</h2>

{{> education}}

<h2 class="simple-section-title">{{skills.title}}</h2>

{{> skills}}

<style>
  .simple-section-title {
    font-weight: 700;
    font-size: 18px;
    padding: 12px 24px;
  }
</style>
